// Essa estilização cuida apenas da tag header, que é o cabeçalho da página

.headerContainer {
    background: #FFF; // cor de fundo
    height: 6.5rem; // altura -> 1rem = 16px

    // alinhamento
    display: flex;
    align-items: center;

    // distância entre o conteúdo as bordas
    padding: 2rem 4rem;
    border-bottom: 1px solid #6F48C9; // linha entre o cabeçalho e o corpo

    // parágrafo
    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid;
    }

    // espaçamento entre a frase e a data
    span {
        margin-left: auto;
        text-transform: capitalize; // todas as letras iniciais serão maiúsculas
    }
}