.playerContainer { // estilizaçao da sidebar
    padding: 3rem 4rem; // distancia entre o conteudo dos elementos e suas bordas
    width: 26.5rem; // largura
    height: 100vh; //altura

    background: rgba(130, 87, 229);
    color: rgba(255, 255, 255);
 
    // alinhamento
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header {
        display: flex;
        align-items: center;
        gap: 1rem; // espaço entre a imagem do headphone e o 'Tocando Agora'
    }

    strong {
        font-family: Lexend, sans-serif; // fonte
        font-weight: 600; // tamanho da fonte
    }

    footer {
        align-self: stretch; // formato alongado da barra de progresso
        &.empty.progress {
           opacity: 0.5; 
        } // opacidade da barra de progresso
    }
}

.currentEpisode {
    text-align: center;
    img {
        border-radius: 1.5rem;
    }

    strong {
        display: block;
        margin-top: 2rem;
        font: 600 1.25rem Lexend, sans-serif;
        line-height: 1.5rem;
    }

    span {
        display: block;
        margin-top: 1rem;
        opacity: 0.6;
        line-height: 1.5rem;
    }
}

.emptyPlayer {
    width: 100%; // largura
    height: 20rem; // altura
    border: 1.5px dashed rgba(144, 102, 242); // borda pontilhada
    border-radius: 1.5rem;
    background: linear-gradients(143.8deg, rgba(130, 87, 229)0%, rgba(0,0,0,0)100%);

    padding: 4rem; // distancia entre o elemento e as bordas
    text-align: center;

    // alinhamento
    display: flex;
    align-items: center;
    justify-content:center;
}

.progress { // estilizaçao da barra de progresso
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;

    span {
        display: inline-block;
        width: 4rem;
        text-align: center;
    }

    .slider{
        flex: 1;

        .emptySlider{ // estilizaçao da barra de progresso vazia
            width:100%;
            height: 4px;
            background: rgba(144, 102, 242);
            border-radius: 2px;
        }
    }     
}

.buttons { // estilizaçao dos botoes
    display: flex;
    align-self: center;
    justify-content:center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    button {
        background: transparent;
        border: 0;
        font-size: 0;

        transition: filter 0.2s; // mudança de cor do botao ao descansar o mouse em cima

        &:disabled {
            cursor: default;
            opacity: 0.5;
        }

        &:hover:not(:disabled) {
            filter: brightness(0.7)
        }

        &.isActive {
            filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }

        &.isActive:hover {
            filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }

        &.playButton{
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            background: rgba(137, 93, 239);

            transition: filter 0.2s;

            &:hover:not(:disabled){
            filter: brightness(0.95)
            }    
        }
    }
}